.DS_Store
.idea/
.gradle/
auth-sample/src/main/res/layout/activity_login.xml
auth-sample/src/main/java/com/spotify/sdk/android/authentication/sample/RetrofitInstance.java
*.iml
local.properties
build/
*-sample/gradle.properties
